* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #efebe2;
    min-height: 100vh;
    /*display: flex;*/
    padding: 20px;
}
.logo {
    font-family: 'Press Start 2P', monospace;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    color: #000000;
    letter-spacing: -0.5px;
    cursor: pointer;
}
.nav-links {
    font-family: 'Press Start 2P';
    margin-left: auto;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    color: #242424;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    opacity: 0.7;
}

.sign-in-btn {
    font-family: 'Press Start 2P';
    background: transparent;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

.get-started-btn {
    font-family: 'Press Start 2P';
    color: #242424;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
    border-radius: 5px;
    box-shadow: 
        inset -4px -4px 0 0 #999, 
        inset 4px 4px 0 0 #fff,   
        4px 4px 0 0 #666;
}

.get-started-btn:hover {
    background: #dfd8d8;
    transform: scale(1.05);
}
.sign-in-btn a:hover {
    opacity: 0.7;
    color: #414040;
}


